doctype html
html
    head
        title= title
    body
        block content
            h1 Heartstone Simulator Debug
            ul
                li
                    a(href='/game') View Available Options
                li
                    a(href='/gameid') Post Option
