doctype html
html
  head
    title= title
  body
    block content
      h1 Attention!
      p If you see this page then you forgot to generate a /public folder in the root dir.
      p Please run `npm run watch:light` and wait webpack to finish the build.
